@model Give_Aid.Models.DataAccess.ImageGallery
@{
    ViewBag.Title = "ImagesDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbs-page-wrap">
    <div class="bg-fixed pos-rel breadcrumbs-page">
        <div class="container">
            <h1>Our Events</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ImageGallery</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Breadcrumbs End -->
<!-- Event Alternate Style Start -->
<section class="wide-tb-100">
    <div class="container">
        <h3 class="">@Model.Name</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1">


            <div class="col mb-5">
                <div class="event-wrap-alternate">
                    <div class="img-gallery-item">

                     
                        <img src="" alt="Alternate Text" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Event Alternate Style Start -->
