   <!-- Page Breadcrumbs Start -->
<section class="breadcrumbs-page-wrap">
    <div class="bg-fixed pos-rel breadcrumbs-page">
        <div class="container">
            <h1>Causes</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Causes</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Breadcrumbs End -->
<!-- Causes Grid Start -->
<section class="wide-tb-100">
    <div class="container">
        <h1 class="heading-main">
            <small>Help Us Now</small>
            More Recent Causes
        </h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Causes Wrap -->
                <div class="causes-wrap">
                    <div class="img-wrap">
                        <a href="causes-list.html"><img src="/Content/assets/images/causes/causes_img_1.jpg" alt=""></a>
                        <div class="raised-progress">
                            <div class="skillbar-wrap">
                                <div class="clearfix">
                                    $10086 raised of $15000
                                </div>
                                <div class="skillbar" data-percent="67%">
                                    <div class="skillbar-percent">67%</div>
                                    <div class="skillbar-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrap">
                        <span class="tag">Education</span>
                        <h3><a href="causes-list.html">@Html.ActionLink("Education for Poor Childrens", "CausesDetail", "Home")</a></h3>
                        <p>Inventore veritatis et quasi archit see ecto beatae vitae dicta sunt explaemo enim voluptatem quia</p>
                        <div class="btn-wrap">
                            <a class="btn-primary btn" href="causes-list.html">Donate Now</a>
                        </div>
                    </div>

                </div>
                <!-- Causes Wrap -->
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Causes Wrap -->
                <div class="causes-wrap">
                    <div class="img-wrap">
                        <a href="causes-list.html"><img src="/Content/assets/images/causes/causes_img_2.jpg" alt=""></a>
                        <div class="raised-progress">
                            <div class="skillbar-wrap">
                                <div class="clearfix">
                                    $10086 raised of $15000
                                </div>
                                <div class="skillbar" data-percent="87%">
                                    <div class="skillbar-percent">87%</div>
                                    <div class="skillbar-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrap">
                        <span class="tag">People</span>
                        <h3><a href="causes-list.html">@Html.ActionLink("Help For Homeless People", "CausesDetail", "Home")</a></h3>
                        <p>Inventore veritatis et quasi archit see ecto beatae vitae dicta sunt explaemo enim voluptatem quia</p>
                        <div class="btn-wrap">
                            <a class="btn-primary btn" href="causes-list.html">Donate Now</a>
                        </div>
                    </div>

                </div>
                <!-- Causes Wrap -->
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Causes Wrap -->
                <div class="causes-wrap">
                    <div class="img-wrap">
                        <a href="causes-list.html"><img src="assets/images/causes/causes_img_3.jpg" alt=""></a>
                        <div class="raised-progress">
                            <div class="skillbar-wrap">
                                <div class="clearfix">
                                    $10086 raised of $15000
                                </div>
                                <div class="skillbar" data-percent="57%">
                                    <div class="skillbar-percent">57%</div>
                                    <div class="skillbar-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrap">
                        <span class="tag">Health</span>
                        <h3><a href="causes-list.html">Supply Water For Good Health</a></h3>
                        <p>Inventore veritatis et quasi archit see ecto beatae vitae dicta sunt explaemo enim voluptatem quia</p>
                        <div class="btn-wrap">
                            <a class="btn-primary btn" href="causes-list.html">Donate Now</a>
                        </div>
                    </div>

                </div>
                <!-- Causes Wrap -->
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Causes Wrap -->
                <div class="causes-wrap">
                    <div class="img-wrap">
                        <a href="causes-list.html"><img src="assets/images/causes/causes_img_4.jpg" alt=""></a>
                        <div class="raised-progress">
                            <div class="skillbar-wrap">
                                <div class="clearfix">
                                    $10086 raised of $15000
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-percent">80%</div>
                                    <div class="skillbar-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrap">
                        <span class="tag">Education</span>
                        <h3><a href="causes-list.html">Help For Child Malnutrition</a></h3>
                        <p>Inventore veritatis et quasi archit see ecto beatae vitae dicta sunt explaemo enim voluptatem quia</p>
                        <div class="btn-wrap">
                            <a class="btn-primary btn" href="causes-list.html">Donate Now</a>
                        </div>
                    </div>

                </div>
                <!-- Causes Wrap -->
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Causes Wrap -->
                <div class="causes-wrap">
                    <div class="img-wrap">
                        <a href="causes-list.html"><img src="assets/images/causes/causes_img_5.jpg" alt=""></a>
                        <div class="raised-progress">
                            <div class="skillbar-wrap">
                                <div class="clearfix">
                                    $10086 raised of $15000
                                </div>
                                <div class="skillbar" data-percent="77%">
                                    <div class="skillbar-percent">77%</div>
                                    <div class="skillbar-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrap">
                        <span class="tag">People</span>
                        <h3><a href="causes-list.html">Help For Good Food</a></h3>
                        <p>Inventore veritatis et quasi archit see ecto beatae vitae dicta sunt explaemo enim voluptatem quia</p>
                        <div class="btn-wrap">
                            <a class="btn-primary btn" href="causes-list.html">Donate Now</a>
                        </div>
                    </div>

                </div>
                <!-- Causes Wrap -->
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Causes Wrap -->
                <div class="causes-wrap">
                    <div class="img-wrap">
                        <a href="causes-list.html"><img src="assets/images/causes/causes_img_6.jpg" alt=""></a>
                        <div class="raised-progress">
                            <div class="skillbar-wrap">
                                <div class="clearfix">
                                    $10086 raised of $15000
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-percent">70%</div>
                                    <div class="skillbar-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrap">
                        <span class="tag">Health</span>
                        <h3><a href="causes-list.html">Help From Natural Disaster</a></h3>
                        <p>Inventore veritatis et quasi archit see ecto beatae vitae dicta sunt explaemo enim voluptatem quia</p>
                        <div class="btn-wrap">
                            <a class="btn-primary btn" href="causes-list.html">Donate Now</a>
                        </div>
                    </div>

                </div>
                <!-- Causes Wrap -->
            </div>

        </div>
    </div>
</section>
<!-- Causes Grid Start -->
<!-- Featured Cause Start -->
<section class="wide-tb-150 bg-white featured-heart-icon-hidden">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="featured-causes-img">
                    <img src="assets/images/causes/featured_cause.jpg" alt="">
                    <div class="featured-cause-timer">
                        <h3><strong class="txt-orange">$75,864</strong> pledged of <strong class="txt-blue">$100,000</strong></h3>
                        <div class="skillbar" data-percent="70%">
                            <div class="skillbar-bar"></div>
                        </div>
                        <ul id="featured-cause" class="list-unstyled list-inline">
                            <li class="list-inline-item"><span class="days">00</span><div class="days_text">Days</div></li>
                            <li class="list-inline-item"><span class="hours">00</span><div class="hours_text">Hours</div></li>
                            <li class="list-inline-item"><span class="minutes">00</span><div class="minutes_text">Minutes</div></li>
                            <li class="list-inline-item"><span class="seconds">00</span><div class="seconds_text">Seconds</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="featured-content">
                    <div class="featured-heart-icon"><i class="charity-hearts"></i></div>
                    <h1 class="heading-main">
                        <small>Featured Cause</small>
                        Emergency Relief Donations for a Mighty Cause
                    </h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="d-flex align-items-center justify-content-between mt-4">
                        <a href="donation-page.html" class="btn btn-default">Donate Now</a>
                        <div class="share-on-text">
                            <strong>Share On</strong> <a href="#"><img src="assets/images/facebook.svg" alt=""></a> <a href="#"><img src="assets/images/instagram.svg" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Featured Cause End -->
<!-- Faq's Style Start -->
<section class="wide-tb-100 feautred-faqs pb-0">
    <div class="container">
        <div class="pos-rel faqs-wrap">
            <div class="bg-overlay blue opacity-80"></div>
            <div class="row">
                <div class="col-12 col-lg-6 col-md-12">
                    <h1 class="heading-main light-mode">
                        <small>Have Questions</small>
                        Frequently Asked Questions
                    </h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <a class="btn btn-default" href="our-faqs.html">Ask It Now</a>
                </div>

                <!-- Spacer For Medium -->
                <div class="w-100 d-none d-sm-block d-lg-none spacer-60"></div>
                <!-- Spacer For Medium -->

                <div class="col-12 col-lg-6 col-md-12">
                    <div class="theme-collapse light">
                        <!-- Toggle Links 1 -->
                        <div class="toggle arrow-down">
                            <span class="icon">
                                <i class="icofont-plus"></i>
                            </span> Our Philosophy
                        </div>
                        <!-- Toggle Links 1 -->
                        <!-- Toggle Content 1 -->
                        <div class="collapse show">
                            <div class="content">
                                Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                            </div>
                        </div>
                        <!-- Toggle Content 1 -->
                        <!-- Toggle Links 2 -->
                        <div class="toggle">
                            <span class="icon">
                                <i class="icofont-plus"></i>
                            </span> Our Organization
                        </div>
                        <!-- Toggle Links 2 -->
                        <!-- Toggle Content 2 -->
                        <div class="collapse">
                            <div class="content">
                                Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                            </div>
                        </div>
                        <!-- Toggle Content 2 -->
                        <!-- Toggle Links 3 -->
                        <div class="toggle">
                            <span class="icon">
                                <i class="icofont-plus"></i>
                            </span> Know More About Adoption
                        </div>
                        <!-- Toggle Links 3 -->
                        <!-- Toggle Content 3 -->
                        <div class="collapse">
                            <div class="content">
                                Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                            </div>
                        </div>
                        <!-- Toggle Content 3 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq's Style End -->
<!-- Our Partners Start -->
<section class="wide-tb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1 class="heading-main">
                    <small>Global Providers</small>
                    Our World Wide Partner
                </h1>
            </div>
            <div class="col-sm-12">
                <div class="owl-carousel owl-theme" id="home-clients">

                    <!-- Client Logo -->
                    <div class="item">
                        <div class="clients-logo">
                            <img src="assets/images/clients/client1.png" alt="">
                        </div>
                    </div>
                    <!-- Client Logo -->
                    <!-- Client Logo -->
                    <div class="item">
                        <div class="clients-logo">
                            <img src="assets/images/clients/client2.png" alt="">
                        </div>
                    </div>
                    <!-- Client Logo -->
                    <!-- Client Logo -->
                    <div class="item">
                        <div class="clients-logo">
                            <img src="assets/images/clients/client3.png" alt="">
                        </div>
                    </div>
                    <!-- Client Logo -->
                    <!-- Client Logo -->
                    <div class="item">
                        <div class="clients-logo">
                            <img src="assets/images/clients/client4.png" alt="">
                        </div>
                    </div>
                    <!-- Client Logo -->
                    <!-- Client Logo -->
                    <div class="item">
                        <div class="clients-logo">
                            <img src="assets/images/clients/client5.png" alt="">
                        </div>
                    </div>
                    <!-- Client Logo -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Partners End -->
